header {
    width: 100%;                        /* Ocupa toda a largura */
    background-color: #be46c9;          /* Azul padrão SENAI */
    color: white;                       /* Texto branco */
    padding: 20px 0;                    /* Espaçamento interno */
    font-size: 1.6em;                   /* Tamanho de texto maior */
    font-weight: bold;                  /* Texto em negrito */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Sombra abaixo do cabeçalho */
  } 

  header a {
    text-decoration: none;
    
  }

