 /* Define as cores, fonte e alinhamento geral */
 body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: #9c84ad; /* Fundo cinza-claro */
    color: #0f0a0a;               /* Cor principal do texto */
    text-align: center;        /* Centraliza textos genéricos */
    min-height: 100vh;         /* Garante altura mínima de tela cheia */
 }