/* Aplica configurações básicas a toda a página */
* {
    margin: 0;              /* Remove margens padrão do navegador */
    padding: 0;             /* Remove espaçamentos padrão */
    box-sizing: border-box; /* Mantém largura total incluindo bordas e preenchimentos */
  }
  
  /* Define as cores, fonte e alinhamento geral */
 
  .app {
    display: flex;             /* Usa flexbox para organização vertical */
    flex-direction: column;    /* Elementos empilhados (de cima para baixo) */
    align-items: center;       /* Centraliza os itens na horizontal */
    padding-bottom: 80px;      /* Espaço reservado para o rodapé fixo */
    background-color: #799ddf;
  }

  .main {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


.main:hover{
    transform: translateY(-10px);
}
footer {
  background-color:#284dc9;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  letter-spacing: 0.2px;
  align-items: center;

}

